<footer>
    <div class="f-info">
        <div class="f-info-social">
            <i class="fa-brands fa-facebook-f"></i></a>
            <i class="fa-brands fa-instagram"></i></a>
            <i class="fa-brands fa-google"></i></a>
            <i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand"> &copy; WanderLust Pvt. Ltd.</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            &nbsp;
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>