<% layout("/layouts/boilerplate") %>
<body>
  <br /><br />
  <div class="row offset-3 mt-3">
    <div class="col-8">
      <h3>Create New Listing</h3>
      <form
        method="post"
        action="/listings"
        class="needs-validation"
        novalidate
        enctype="multipart/form-data"
      >
        <!-- novalidate - default browser settings are made invalid  -->
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            name="listing[title]"
            placeholder="enter title"
            class="form-control"
            required
          />
          <div class="valid-feedback">Title looks good!</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="listing[description]"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">Please enter a short description</div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Upload Listing Image</label>
          <input name="listing[image]" type="file" class="form-control" />
          
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Pricing</label>
            <input
              name="listing[price]"
              placeholder="enter price"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Please enter a valid Price</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              name="listing[country]"
              placeholder="India"
              type="text"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Country name should be valid</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            name="listing[location]"
            placeholder="enter location"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Location name should be valid</div>
        </div>

        <button class="btn btn-dark submit-btn mt-3">Submit</button>
      </form>
      <br />
    </div>
  </div>
</body>
